<!DOCTYPE html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="../static/semantic/dist/semantic.min.css">
    <script src="../static/semantic/dist/semantic.min.js"></script>
</head>
<body>

<div class="ui menu">
    <div class="header item">Mycroft</div>
    <a class="active item">Control</a>
    <div class="right menu">
        <a class="item right labeled icon">
            <i class="settings icon"></i>
            Settings
        </a>
    </div>
</div>

<div class="ui text container">
    <div class="ui middle aligned four column centered grid">
        <div class="row">
            <div class="column">
                <button class="ui button massive" onClick="parent.location='/back_down'">
                <i class="chevron left icon"></i>
                </button>
            </div>
            <div class="column">
                <button class="ui button massive" onClick="parent.location='/seat_up'">
                    <i class="chevron up icon"></i>
                </button>
                <img class="ui wireframe image" src="../static/img/seat.png">
                <button class="ui button massive" onClick="parent.location='/seat_down'">
                    <i class="chevron down icon"></i>
                </button>
            </div>
            <div class="column">
                <button class="ui button massive" onClick="parent.location='/back_up'">
                    <i class="chevron right icon"></i>
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>